﻿
@model List<Model>

@{
    ViewData["Title"] = "Detail";
}

@foreach (var item in Model)
{
    <a asp-controller="Model" asp-action="Detail" asp-route-id="@item.Id">Id: @item.Id   Name: @item.Name </a>
    <br />

}